VITE_SUPABASE_URL=https://nirsecbemmdilxxqcobt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pcnNlY2JlbW1kaWx4eHFjb2J0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MjU2OTYsImV4cCI6MjA5NTQwMTY5Nn0.uyDaqYRD0PlEzYxA_aEUv-8wqtLhRsegz5Cn-LPUvNc 
VITE_ANTHROPIC_API_KEY=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	
